h1{
-webkit-transition: all 0.5s;
font-family: "Corsiva, "Lucida Handwriting", script";
	font-size: 381%;
	margin-left: 543px;
	color: #909090;
text-shadow: 0 -2px 3px #111,0 3px 4px #666;


}
h1:hover{
color: transparent;
text-shadow: -9px 0 5px rgba(0,0,0,0.3), 9px 0 5px rgba(0,0,0,0.3), -21px 0 5px rgba(0,0,0,0.1), 21px 0 5px rgba(0,0,0,0.1), 0 0 0 rgba(0,0,0,0.1);
}

body{
	background-color: #505050;
	background-image: url("images/artbyartemisgreen.png");
	background-size: 100%;
	background-position: 7px -200px;
	background-repeat: no-repeat;
}