/* styles.a.css */
body, h1, h2, h3, p, ul, ol, li{
	margin: 0;
	padding: 4px;
}
body{
	height: 500px;
background-color: #1f1f1f;
width: 1000px

}
	p{
	margin: 0 20px;
	
	}
h1 {
font-size: 60px;
width: 99.7%;
}

h1 a{
	text-decoration: none;
	color: white;
	border: 2px white solid;
	width: 100%;
	display: inline-block;
	padding-right: 15%;
	padding-left: 19%;
	text-align: center;
	font-family: "Impact", Charcoal, sans-serif;

}

h1 a p{
	font-family: "Impact", Charcoal, sans-serif
}

 ul{
	color: green;
}

#Sidebar{
	color: gold;
}
#Container{
	color: red;
}

.clear{
	clear: both;

}
#Top{
	position: relative;
	z-index: 1;

}

#MainContent{
	position: relative;
	z-index: 0;


}
/*menu2*/
#Container ul li li a{
	color: white;
	text-decoration: none;
	list-style: none;
		position: relative;

}
#Container ul li li a:hover{
	background-color: white;
	color: red;
}
#Container ul li li li a{
	color: red;
}

/*Menu*/
/*li{
	color: black;
}
#Container li li a{ 
	color: gold;
	text-decoration: none;
	list-style: none;
		Float: left;
		position: relative;
}

ul li li{
	color: black;
}
ul li{
	color: gold;
	float: left;
}
#Container ul li a:hover{
	background-color: white;
	color: red;
}


#Container 







#MainContent p{
	color: green;
}
.whitetext{
	color: white;
	text-decoration: none

}
h2 a{
	color: white;
	text-decoration: none;
	

}

#Container li li li ul ul{

		background-color: black;
		color: white;
		display: inline-block; 
		text-decoration: none;
		font-size: 20px;
		text-transform: lowercase;
		border-left: 2px solid white
}

}
#Container ul li ul li a{
	color: #ffffff;
	position: relative;
}

#Contianer ul li li a{
	display: inline-block;
	float: left;
}*/

/*subscreen*/

/*walk through*/
/*top level*/
#Container ul{
	position: relative;
	margin: 0 auto;
	width: 100px;
	left: 201px;
	

}
/*top level li*/
#Container ul li{
	float: left;
	list-style: none;
	background-color: gold;

}

/*top level a*/

##Container ul li a{

	
}

/*secomd level*/

#Container ul li ul{
	position: absolute;
	left: -99999999px;
	}

/*second level li*/
#Container ul li ul li{
	float: none;

}

#Container ul li ul li a{
	float: none;
		border-bottom: 3px black solid;}

/*Bring back second ul on parent li hover*/
#Container ul li:hover ul{
	left: 0;
}
/*second level a*/

#Contianer ul li ul li a{

}


/* third level*/
#Container ul li ul li ul{
	position: relative;
	left: -999999px;
	width: 85px;
	

}

/*Third level li*/
#Contianer ul li ul li ul li{
	float: none;
}

/* Third level a*/
#Container ul li ul li ul li a{
	left: -99999px;

}
#Container ul li ul li ul:last-child{
	border-bottom: none;
}
/*About us hover "u li ul li ul li a"*/
#Container ul li ul li:hover a{ 
	left: 0;
}

/*pathways*/
#MainContent .whiteText2{
	float: right;
	position: relative;
	top: -652px;
	text-decoration: none;
	margin-right: -59px;

}

#MainContent .par2{
	float: right;
	position: relative;
	clear:  both;
	top: -78px;
	margin-right: -314px;


}

#MainContent .whiteText{
	position: relative;
	margin-left: 211px;
	text-decoration: none;

	


}
h2 a{
	text-decoration: none;
	color: #BC0306;
}

#MainContent .par2{
	background: #C9C9C9;
	height: 616px;
	width: 500px;
	top: -651px;
	float: right;
	position: relative;
	clear:  both;
	margin-right: -314px;

}

#MainContent p a{
	color: #4C3D3D;
	text-decoration: none;

}

#MainContent .parart{
background: #C9C9C9; 
width: 500px;
height: 616px;
}

#Top .New{
	font-family: "Impact", Charcoal, sans-serif
}

 img{
	display: inline-block;
	position: absolute;
	width: 50%;
	height: 50%;
	top: 900px;
	padding-right: 50px;
	width:100%;

}

element.style{
	display: block;
	margin: auto;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 50%;

}







